<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/normalize.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/admin-add-meal.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/user-fill-order.css') }}" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/admin-add-meal.css">
    <link rel="stylesheet" href="css/user-fill-order.css">-->
</head>

<body>
    <!-- Start Header -->

    <header>
        <div class="container">
            <div class="logo">
                <img src="{{url_for('static', filename='images/logo.webp')}}">
                <span>FoodEat</span>
            </div>
            <h1>Resrvation</h1>
            <div class="clearfix"></div>
        </div>
    </header>

    <!-- End Header -->


    <!-- Start Reservation -->

    <div class="reservation">
        <div class="container">
            <div class="image">
                <img src="{{url_for('static',filename='images/add-meal.webp')}}">
            </div>
            <form name="reservation" method="POST">
                <input id="name" type="text" name="customer_name" value="" pattern="[a-zA-Z]*"
                    title="Numbers are not allowed" placeholder="Full Name" maxlength="30" value="" required>
                <input id="address" type="text" name="customer_address" value="" placeholder="Address" maxlength="30"
                    value="" required>
                <input type="submit" id="reserve" onclick="alert('Request Successfully Completed')" value="Reserve Now">
            </form>
        </div>
    </div>

    <!-- End Reservation -->

    <!-- Start Footer -->

    <footer>
        <div class="container">
            <p>2019 &copy; FoodEat. All Rights Reserved. Designed And Coded By Coding Team For <span>Coretabs</span>
                Competition</p>
            <ul class="links">
                <li><i class="fab fa-facebook-square fa-2x"></i></li>
                <li><i class="fab fa-twitter-square fa-2x"></i></li>
                <li><i class="fab fa-linkedin fa-2x"></i></li>
                <li><i class="fab fa-google-plus-square fa-2x"></i></li>
                <li><i class="fas fa-phone-square fa-2x"></i></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </footer>

    <!-- End Footer -->


    <script src="{{url_for('static',filename='js/jquery3.4.1.js')}}"></script>
    <script src="{{url_for('static',filename='js/admin orders.js')}}"></script>
</body>

</html>